@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Inknut+Antiqua:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1{
    font-family: 'Inknut Antiqua', serif!important;
}

/* .navbar{
    display: flex;
    justify-content:space-between;
    height: 75px;
    align-items: center;
    
}
.navbar ul{
    display: flex;
    margin-right: 130px;
    gap: 20px;
}
.navbar ul li a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(209, 208, 208);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    transition: ease 0.9s;
}
.navbar ul li a:hover{
    text-decoration: underline;
}


.navbar h1{
    margin-left: 130px;
    font-family: 'Inknut Antiqua', serif;
    color: rgb(212, 212, 212);
}
@media screen and(max-width:400){
    .navbar ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} */